#about {
    color: white;
    text-align: center;
}

#about_div {
    background-color: #0f1445;
    height: 24.5rem;
    margin: 0 6.5%;
    padding: 2rem 2rem;
    width: 78rem;
    height: auto;
    border-radius: 50px;
}

#about_div p {
    margin: 2rem 5rem;
    font-size: x-large;
}

#about_grid {
    margin: 2rem 6rem;
}

#about_card {
    background-color: #0f1445;
    height: 15rem;
    padding: 1.5rem;
    padding-bottom: 3rem;
    border-radius: 25px;

}

#about_card h3 {
    font-weight: bolder;
}