html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #090c2d;
    color: #fff;
    max-height: 8.5vh;
}

img {
    max-height: 13vh;
    width: auto;
}

nav {
    margin-right: 15%;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 0 3rem;
}

a {
    text-decoration: none;
    font-size: medium;
    color: #ffffff;
}
