#services {
    color: #0f1445;
    margin-top: 100px;
    text-align: center;
}

.services_card {
    color: #000;
    width: 320px;
    background-color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    text-align: left;
    height: 35rem;
}

#image {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



#content {
  padding: 1.5rem;
}

#title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #000;
  line-height: 1.4;
}

#text {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.6;
  text-align: left;
  text-transform: lowercase;
}
